.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



/* :root{
  --primary-green: green;
} */

.address-footer{
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  /* border-top: 0.1875rem solid  var(--primary-green); */
  color: rgb(24, 244, 171);
}


.fullname{
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  /* border-top: 0.1875rem solid  var(--primary-green); */
  color: rgb(21, 24, 23);
}


.profile-photo{
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}